// Font
$lato : "Lato";

// Color
$orange-dark : #D5621E;
$orange 	 : #EE7129;
$grey-dark   : #8A827E;
$red		 : #dc3545;

// Body
$body-font : $lato;
$body-font-size : 14px;

$transition : 0.3s all;

$default-border-color : #D2D2D2;