.cart-table{
	@extend .w-100;
	background-color: $white;
	.cart-table-head{
		border-bottom: 2px solid #f9f9f9;
		@include media-breakpoint-down(md) {
			display: none;
		}
		.cart-table-row{
			border-bottom: 0px;
			height: auto;
			.cart-table-item{
				font-size: 16px;
			}
		}		
	}
	.cart-table-body{
	}
	.cart-table-footer{
		.cart-table-item{
			@extend .d-flex;			
		}		
	}
	.cart-table-row{
		@extend .d-inline-block;
		@extend .w-100;
		height: 103px;
		vertical-align: middle;
		border-bottom: 1px solid #f9f9f9;	
		@include media-breakpoint-down(md) {
			height: auto;
		}
	}
	.cart-table-item{		
		@extend .float-left;
		@extend .h-100;
		padding: 10px 15px;
		.cart-table-item-wrap{
			@extend .d-flex;
			@extend .align-items-center;
			@extend .h-100;
		}
		&.f-barang{
			width: 39%;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
			.cart-table-item-wrap{
				@include media-breakpoint-down(md) {
					align-items: flex-start !important;
				}	
			}				
		}
		&.f-harga{
			width: 20%;
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
		&.f-jumlah{
			width: 20%;
			@include media-breakpoint-down(md) {
				width: 40%;
			}
		}
		&.f-subtotal{
			width: 20%;
			@include media-breakpoint-down(md) {
				width: 60%;
			}
			.cart-table-item-wrap{
				@include media-breakpoint-down(md) {
					justify-content: flex-end !important;
				}	
			}	
		}
	}
	.cart-item{
		float: left;
		&.image{
			width: 80px;
			margin-right: 15px;
			border: 1px solid #ddd;
		}
		&.name{
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
		&.add-minus{
			width: 125px;
			.input-group-text{
				@extend .rounded-0;
				border-color: $orange;
				background-color: $orange;
				color: $white;
				line-height: 0;
			}
			input{
				border-left: 0;
				border-right: 0;
				border-color: #efefef;
				height: 30px;
			}
		}
		&.harga{
			
		}
		&.subharga{
			@extend .font-weight-bold;
			@extend .text-orange;
		}
		&.remove{
			@extend .float-right;
			@extend .ml-auto;
			@include media-breakpoint-down(md) {
				margin-left: 20px !important
			}
		}
	}
}

.cart-table-total{
	@extend .w-100;
	.label{
		// width: 50px;
	}
	.harga{
		// width: 95px;
		text-align: right;
	}
	tr{
		td{
			font-size: 16px;
			padding-bottom: 10px;
		}
	}
	.total-box{
		td{
			font-weight: 500;
			font-size: 18px;
			padding-top: 10px;
    		border-top: 1px solid #ddd;
		}
		.harga{
			color: $orange;
		}
	}
}

.cart-box-total{
	@include media-breakpoint-down(md) {
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
		z-index: 4;	
		-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.14);
		-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.14);
		box-shadow: 0 2px 8px 0 rgba(0,0,0,.14);
	}
}