.tagihan{
	font-size: 23px;
    padding: 5px 0;
    font-weight: 600;
}

.salin-jumlah{
	text-decoration: none;
    cursor: pointer;
    color: #999;
    border-bottom: dotted 1px #999;
    outline: none;
}

.tooltip-box{
    margin: 15px 0;
    line-height: 1.4;
    position: relative;
    z-index: 7;
    display: inline-block;
    word-wrap: break-word;
	.tooltip-pointer{
		top: -5px;
		left: 50%;
		position: absolute;
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
  		border-bottom: 5px solid #333;
	}
	.tooltip-content{
		margin: 0 auto;
		background-color: #333;
		max-width: 336px;
		padding: 12px 18px;
		text-align: center;
		color: #fff;
		border-radius: 2px;
	}
}

.nomor-tagihan{
	font-size: 23px;
}

.bank-box-sec{
	border-left: 1px solid #eee !important;
	border-top: 1px solid #eee !important;
	float: left !important;
	width: 100%;
	.bank-box-item{
		border-bottom: 1px solid #eee !important;
		border-right: 1px solid #eee !important;
		background-color: #fff !important;
		width: 50% !important;
		float: left !important;
		.bank-box{
			padding: 15px 0;
			width: 150px;
			margin: 0 auto;
			.img-bank{
			    height: 32px;
			    width: auto;
			}
		}
	}
}

.clip{
	cursor: pointer;
}