html,body{
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

p{
	margin: 0px;
}

.text-orange{
	color: #ee7129;
}
.text-red{
	color: #dc3545;
}

h2{
	margin: 0px;
	font-size: 16px;
	font-weight: 500;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.h-100{
	height: 100%;
}

.container{
	max-width: 700px;
	margin: 0 auto;
}

.content-box{
	position: relative;
	text-align: center;	
}

.content-box.home{
	top: 35%
}

.content-sec{
	margin-bottom: 55px;
}

.choose-project{
	display: flex;
	position: relative;
	/*left: 50px;*/
	justify-content: center;
}

.choose-project .choose-project-item{
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0 65px;
	width: 50%;
	position: relative;
}

.choose-project .choose-project-item:after{
    content: " ";
	border-right: 3px solid #efefef;
	position: absolute;
	right: 0;
	left: 0;
	height: 130px;
}

.choose-project .choose-project-item:last-child{
	padding-right: 0px;	
	justify-content: flex-start;
}

.choose-project .choose-project-item:first-child{
	padding-left: 0px;
	justify-content: flex-end;
}

.choose-project .choose-project-item:last-child:after{
	border-right: 1px solid #fff;
}

.choose-project-item img{
	width: auto;
}

.logo-ebonni{
	height: 75px;
	width: auto;
}

.logo-edge{
	height: 50px;
	width: auto;
}

.list-inline{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.list-inline li{
	display: inline-block;
	padding: 20px 45px;
}

.img-choose-list{
	width: auto;
	height: 95px;
}

.pop-up-sec{
	transition: 0.5s all;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: -2;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}
.pop-up-sec.show{
	opacity: 1;
	z-index: 5;
}
.pop-up-sec .close-btn{
	position: absolute;
	top: 25px;
    right: 30px;
	z-index: 6;
}

.pop-up-content{
	text-align: center;
}

.pop-up-title{
	margin: 30px 0;
}

.close-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  transition: 0.5s all;
  cursor: pointer;
}
.close-btn:hover {
  opacity: 1;
}
.close-btn:before, .close-btn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #333;
}
.close-btn:before {
  transform: rotate(45deg);
}
.close-btn:after {
  transform: rotate(-45deg);
}


@media only screen and (max-width: 576px) {
    .choose-project .choose-project-item{
    	padding: 0 45px;
    }
    .logo-ebonni{
		height: 55px;
		width: auto;
	}

	.logo-edge{
		height: 30px;
		width: auto;
	}
	.list-inline li{
		width: 100%;
	}
}