footer{
	@extend .float-left;
	@extend .w-100;
	background-color: #445268;
	color: $white;
	a{
		color: $white;
		&:hover{
			color: $white;
			text-decoration: underline;
		}
	}
	hr{
		border-color: #292E36;
	}
	label{
		font-weight: 500;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.copyright{
		span{
			font-size: 12px;
		}
	}
}