header{
	position: relative;
	z-index: 5;
	.nav-fix-pos{
		@extend .position-relative;
	    height: 98px;
	    .nav-fix{
			@extend .position-absolute;
			width: 100%;
			z-index: 999;
	    }
	}
	
    &.sticky{
    	.nav-fix{
    		@extend .position-fixed;
    		top: 0;
    	}
    	.search-form{
    		&#search-form-home{
    			.select-kategori{
	    			@extend .d-block;				
	    		}
    		}    		
    	}
    }
}

.banner-top{
	background-color: #006C81;
	#close-banner-top{
		@extend .position-absolute;
		top: 10px;
		right: 10px;
		color: $white;
		cursor: pointer;
	}
}

.menu-nav{
	background-color: $orange-dark;
	.navbar-nav{
		.nav-item{
			.nav-link{
				color: $white;
				font-size: 10px;
				&:hover{
					color: lighten($orange, 50%);
				}
			}
		}
		@include media-breakpoint-down(sm) {
			border-top: 1px solid $white;
		}		
	}
}

.header-sec{
	// background-image: url('../images/blibli-bg-pattern.png');
	@extend .d-flex;
	@extend .align-items-center;
	background-position: 65% 0px;
	height: 98px;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.14);
	-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.14);
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.14);
}

.shopping-cart-icon{
	color: $orange;
}