.breadcrumb{
	background-color: transparent;
	margin-top: 0px;
	padding-left: 0;
	.breadcrumb-item{
		font-size: 14px;
		@extend .text-grey;
		a{
			@extend .text-grey;
		}
		+ .breadcrumb-item{
			&:before{
				content: "\003e";
			}
		}
	}
}