.btn-more{
	padding: 10px 10px;
	border: 1px solid $orange;
	color: $orange;
	font-size: 12px;
    display: inline-block;
    text-align: center;
    transition: $transition;
    &:hover{
    	background-color: $orange;
    	color: $white;
    }
}
.btn{
    font-size: $body-font-size;
    min-width: 75px;
    transition: $transition;
    border-color: #DDDDDD;
    &:focus{
        outline: 0px;
        box-shadow: none;
    }
}

.btn-orange{
    background-color: $orange;
    color: $white;
    border-color: transparent;
    &:hover{
        background-color: #F0AD4E;
        color: $white;
    }
}

.btn-yellow{
    background-color: #EE9800;
    color: $white;
    border-color: transparent;
    &:hover{
        background-color: #F0AD4E;
    }
}

.btn-like-produk{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend %fa-icon;
    @extend .far;
    padding: 0;
    height: 38px;
    min-width: auto;
    &.like{
        
        color: red;
        @extend .fas;
    }
    .icon{
        font-style: normal;   
        transition: 0.2s all;
        font-size: 18px;
        &:before {
            content: fa-content($fa-var-heart);
        }
    }
    &.eff{   
        .icon{
            font-size: 22px;
        }             
    }
}