.form-control{
	@extend .text-12;
	&.invalid{
		border-color: $red;
	}
}
.invalid-feedback{
	@extend .d-block;
}

.custom-control-label{
	@extend .d-flex;
	@extend .align-items-center;
	@extend .text-12;
}