.panel-grey{
	background-color: #EFF0F5;
	border: 1px solid #707070;
	.table{
		td{
			padding: 5px 5px;
		}
	}
}

.card-header{
	background-color: #F5F5F5;
	border-bottom: 1px solid $default-border-color;
}

.card-panel{
	@extend .py-3;
	@extend .px-3;
	background-color: #EBEBEB;
}