.rating-list{
	@extend .list-inline;
	li{
		@extend .list-inline-item;
		margin-right: 2px !important;
		.fa-star{
			font-size: 13px;
			color: #DCDCDC;
		}
		&.active{
			.fa-star{
				color: #FFCC00;
			}
		}
	}
}