.step-transaksi{
    display: flex;
    position: relative;
    [class*="step-"]{
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        height: 70px;
        width: 70px;
        background-size: 40px 40px;
        border: 2px solid #000;
        border-radius: 50%;
        margin-right: 35px;
        &:before{
            content: " ";
            display: inline-block;
            position: absolute;
            right: -36px;
            border: 1px solid #c5c5c5;
            width: 35px;
            top: 48%;
        }
        &.completed-steps{
            border-color: $orange;
            &:before{
                border-color: $orange;
            }
        }
        &:last-child{
            margin-right: 0px;
            &:before{
                display: none;
            }
        }
        @include media-breakpoint-down(md) {
            height: 50px;
            width: 50px;
            background-size: 25px 25px;
            margin-right: 20px;    
            &:before{
                right: -22px;
                width: 20px;
            }
        }
        @media (max-width: 465px) { 
            height: 34px;
            width: 34px;
            background-size: 20px 20px;
            margin-right: 18px;
            &:before{
                right: -19px;
                width: 18px;
            }
        }
    }
    .step-1{
        background-image: url('../images/icon-step-ebonni-wizard/step-1.svg');
        &.completed-steps{
            background-image: url('../images/icon-step-ebonni-wizard/step-1-orange.svg');
        }
    }
    .step-2{
        background-image: url('../images/icon-step-ebonni-wizard/step-2.svg');
        &.completed-steps{
            background-image: url('../images/icon-step-ebonni-wizard/step-2-orange.svg');
        }
    }
    .step-3{
        background-image: url('../images/icon-step-ebonni-wizard/step-3.svg');
        &.completed-steps{
            background-image: url('../images/icon-step-ebonni-wizard/step-3-orange.svg');
        }
    }
    .step-4{
        background-image: url('../images/icon-step-ebonni-wizard/step-4.svg');
        &.completed-steps{
            background-image: url('../images/icon-step-ebonni-wizard/step-4-orange.svg');
        }
    }
    .step-5{
        background-image: url('../images/icon-step-ebonni-wizard/step-5.svg');
        &.completed-steps{
            background-image: url('../images/icon-step-ebonni-wizard/step-5-orange.svg');
        }
    }
}