.produk-tab{
	.nav{
		.nav-item{
			.nav-link{
				@extend .rounded-0;
				@extend .font-weight-bold;
				color: $white;
				border: 0px;
				padding: 15px 15px;
				border-bottom: 5px solid transparent;
				background-color: $orange;
				&.active{
					border-color: #BA4C0C;
				}
			}
		}
	}
}

.checkout-tabs{
	.nav-item{
		.nav-link{
			border: 2px solid transparent;
			&.active{
				border-color: #ffffff #ffffff $orange;
			}
		}
	}
}