.tag{
	@extend .d-inline-block;
	@extend .text-center;
	background-color: #ddd;
	border: 1px solid #ddd;
	min-width: 65px;
    padding: 5px 25px;
	border-radius: 25px;
}
.tag-green{
	background-color: #048F2E;
	border-color: #048F2E;
	color: $white;
}

.tag-red{
	background-color: $red;
	border-color: $red;
	color: $white;
}
