// Text color
.text-white{
	color: $white;
}
.text-orange{
	color: $orange;
}
.text-grey-soft{
	color: #8D8D8D;
}
.text-black{
	color: $black;
}
.text-blue{
	color: #0479D4;
}
.text-grey{
	color: #727272;
}

// Text Size
.text-12{
	font-size: 12px;
}
.text-13{
	font-size: 13px;
}
.text-14{
	font-size: 14px;
}
.text-16{
	font-size: 16px;
}
.text-17{
	font-size: 17px;
}
.text-18{
	font-size: 18px;
}

// Text border
.text-border-right{
	border-right: 2px solid $black;
    padding-right: 10px;
    margin-right: 10px;
}

// Text Weight
.text-semi-bold{
	font-weight: 500;
}