@include font-face($lato, "../fonts/lato/lato-light", 300, normal, ttf);
@include font-face($lato, "../fonts/lato/lato-regular", normal, normal, ttf);
@include font-face($lato, "../fonts/lato/lato-bold", 500, normal, ttf);
@include font-face($lato, "../fonts/lato/lato-black", bold, normal, ttf);


html, body{
	height: 100%;
}

body{
	font-family: $body-font;
	font-size: $body-font-size;
	&.overlay-black{
		&:after{			
			content: "";
			position: fixed;
			z-index: 2;
			background-color: rgba(0, 0, 0, 0.23);
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
}

section{
	@extend .float-left;
	@extend .w-100;
}

.min-width-auto{
	min-width: auto !important;
}

.logo{
	background-color: $white;
}

.page-content{
	@extend .bg-grey-soft;
	min-height: 550px;
	padding-top: 65px;
	padding-bottom: 65px;
}

.return-to-top{
	@extend .position-fixed;
	bottom: 30px;
	right: 20px;
	z-index: 3;
	display: none;
	cursor: pointer;
    i{
		@extend .d-flex;
		@extend .align-items-center;
		@extend .justify-content-center;
		@extend .rounded-circle;
		background-color: $orange;
		color: $white;
		height: 50px;
		width: 50px;
		font-size: 22px;
    }
    @include media-breakpoint-down(sm) {
		bottom: 70px;
	}
}
