a{
	transition: $transition;
	color: initial;
	&:hover{
		text-decoration: none;
		color: initial;
	}
}		

hr{
	border-color: $default-border-color;
}

h1{
	font-size: 20px
}
h2{
	font-size: 17px;
	color: #4D4D4D;
}
h3{
	font-size: 16px;
}
h4{
	
}
h5{
	
}

small{
	font-size: 10px;
}

input, button, select, optgroup, textarea{
	&:focus{
		outline: 0;
	}
}