.kategori-bar{
	@extend .d-flex;
	font-size: 16px;
	.heading{
		@extend .font-weight-bold;
		@extend .d-flex;
		@extend .align-items-center;
		background-color: $orange;
		color: $white;
		padding: 10px 35px;
		@include media-breakpoint-down(sm) {
			justify-content: center;
		}
	}
	.kategori-list{
		@extend .flex-grow-1;
		background-color: #F8F8F8;
		padding: 10px 0px;
		@include scrollbars(.3em, #ddd, #F8F8F8);
		max-width: 100%;
		overflow-x: auto;
		ul{
			@extend .d-flex;
			@extend .mb-0;
			@extend .px-0;
			li{
				@extend .list-inline-item;
				@extend .pl-4;
				a{
					color: $black;
					@extend .font-weight-bold;
					&:hover{
						color: $orange;
					}
				}
			}
		}
		
	}
	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}
}

.kategori-dropdown{
	display: none;
	position: absolute;
	z-index: 5;
	top: 165%;
	background-color: $white;
	width: 225px;
	left: -60px;
	border: 1px solid #ddd;
	border-radius: 3px;
	@include media-breakpoint-down(sm) {
		left: -85px;
	}
	.kategori-dropdown-sec{
		max-height: 400px;
		overflow-y: auto;
		padding: 10px 0;
		@include scrollbars(.4em, lighten($orange, 10%), #f1f1f1);
		.kategori-dropdown-item{
			padding: 6px 15px;
			transition: $transition;
			cursor: pointer;
			@extend .d-block;
			&:hover{
				background-color: $orange;
				color: $white;
			}
		}
	}
	.kategori-more{
		padding: 10px;
		border-top: 1px solid #ddd;
		text-align: center;
	}
	&:after{
		content: "";
		position: absolute;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		height: 0;
		width: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #d8d8d8;
		top: -7px;

	}
}