.modal{
	.modal-content{
		border-radius: 15px;
	}
}

.modal-dialog-sm{
	max-width: 420px;
}

.modal-dialog-md{
    max-width: 675px;
}

.cart-modal{
	.product-list-item-in{
		@include media-breakpoint-down(xs) {
			border-bottom: 1px solid #979797;
	    	padding-bottom: 20px;
		}
		&:last-child{
			@include media-breakpoint-down(xs) {
				border-bottom: 0px;
		    	padding-bottom: 0px;
			}
		}
	}
}