.product-list{
	margin-bottom: 25px;
	.img-produk{
		width: 100%;
		height: 175px;
		-ms-object-fit: cover;
		-moz-object-fit: cover;
		-o-object-fit: cover;
		-webkit-object-fit: cover;
		object-fit: cover;
		overflow: hidden;
		max-width: 100%;
	}
	.label-produk{
		min-width: 75px;
		padding: 2px 5px;
		font-weight: bold;
		text-align: center;
		background-color: $grey-dark;
		color: $white;
		position: absolute;
		font-size: 12px;
		border-radius: 4px;
		top: 10px;
		right: 15px;
		z-index: 3;
		&.label-produk-orange{
			background-color: $orange;
			color: $white;
		}
	}
	.product-list-content-hover{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.76);
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 90px;
		transition: $transition;
		opacity: 0;
	}
	.product-list-content{
		background-color: $white;
	}
	&:hover{
		.product-list-content-hover{
		    opacity: 1;
		}
	}
}

.product-list-item-in{
	margin-bottom: 25px;
	@include media-breakpoint-down(md) {
		border-bottom: 1px solid #979797;
    	padding-bottom: 20px;
	}
	&:last-child{
		@include media-breakpoint-down(md) {
			border-bottom: 0px;
	    	padding-bottom: 0px;
		}
	}
	&:last-child{
		margin-bottom: 0px;
	}
}

.produk-nama{
	@extend .text-17;
}

.produk-harga{
	span{
		@extend .text-18;
		@extend .text-orange;
		font-weight: 600;
	}
	.satuan{
		font-weight: 400;
		@extend .text-grey;
	}
}

.produk-notice{
	background-color: #FFF7E2;
	border: 1px solid #E6B138;
	padding: 10px 10px;
	font-weight: 500;
	span{
		color: #007B00;
	}
}

.table-produk-detail{
	@extend .text-13;
	.row{
		@extend .mx-0;
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
    	padding-bottom: 5px;
    	> div{
    		@extend .px-0;
    	}
	}
	label{
		font-weight: 600;
	}
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
  border: 1px solid #dddddd;
}

.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post {
	margin-bottom: 30px;
	.post-heading {
	  height: 85px;
	  padding: 20px 15px;
	  padding-bottom: 0px;
		.avatar {
			@extend .rounded-circle;
			width: 50px;
			height: 50px;
			display: block;
			margin-right: 15px;
		}
		.meta{
			.title{
				margin-bottom: 0;
				font-size: 12px;
				font-weight: normal;
				a{
					font-size: 16px;
					color: black;
					&:hover{
						color: #aaaaaa;
					}
				}
			}
			.time{
				margin-top: 8px;
				color: #999;
				font-size: 13px;
			}
		}
	}
	.post-image{
		.image{
			width: 100%;
			height: auto;
		}
	}
	.post-description {
		padding: 15px;
		padding-top: 0;
		p{
			font-size: 14px;
		}
		.stats {
		  margin-top: 5px;
		  	.stat-item {
				display: inline-block;
				margin-right: 15px;
				.icon {
					margin-right: 8px;
				}
			}
		}
	}
	.post-footer {
		border-top: 1px solid #ddd;
		padding: 15px;
		.input-group-addon{
			a{
				color: #454545;
			}			
		}
		.comments-list {
			padding: 0;
			margin-top: 20px;
			list-style-type: none;
			.comment {
			 	display: block;
			 	width: 100%;
			 	margin: 20px 0;
				.avatar {
					width: 35px;
					height: 35px;
				}
				.comment-heading {
					display: block;
					width: 100%;
					.user {
						font-size: 14px;
						font-weight: bold;
						display: inline;
						margin-top: 0;
						margin-right: 10px;
					}
					.time {
						font-size: 12px;
						color: #aaa;
						margin-top: 0;
						display: inline;
					}
				}
				.comment-body {
					margin-left: 50px;
				}
				> .comments-list {
					margin-left: 50px;
				}
			}
		}
	}
}

.nav-produk-act-mobile{
	@extend .position-fixed;
	@extend .w-100;
	@extend .d-flex;	
	bottom: 0;
	z-index: 3;
	left: 0;
	background-color: $white;
	padding: 10px 0;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.14);
    .btn{
		padding: 0px 10px;
		margin: 0 5px;
		min-width: auto;
    }
}
