.search-form{
	@extend .d-flex;
	width: 100%;
	border: 2px solid $orange;
	background-color: $white;
	padding: 5px 5px;
	border-radius: 4px;
	.select-kategori{
		transition: $transition;
		border-right: 1px solid $black;
		button{
			@extend .border-0;
			font-weight: bold;
			cursor: pointer;
			background-color: transparent;
			color: $black;
		}
		.dropdown-menu{
			min-width: 135px;
			.dropdown-item{
				padding: 5px 15px;
			}
		}
		// @include media-breakpoint-down(sm) {
		// 	display: none !important;
		// }
	}
	.input-search{
		@extend .flex-grow-1;
		@extend .bg-transparent;
		@extend .border-0;
		padding: 0 10px;
		width: 0%;
	}
	.btn-search{
		@extend .d-flex;
		@extend .align-items-center;
		@extend .justify-content-center;
		background-color: $orange;
		color: $white;
		padding: 5px 5px;
		width: 35px;
		height: 30px;		
		border-radius: 5px;
		@extend .border-0;
		cursor: pointer;
		transition: $transition;
		&:hover{
			background-color: lighten($orange, 8%);
		}
	}
	&#search-form-home{
		.select-kategori{
			display: none;
		}
	}
}