.owl-nav{
	position: absolute;
	top: 46%;
	width: 100%;
	padding: 0 45px;
	.owl-prev, .owl-next{
		span{
			display: none;
		}
		&:after{
			width: 17px;
			height: 29px;
			position: absolute;
			background-repeat: no-repeat;
		}
	}
	.owl-prev{
		float: left;
		&:after{
			content: " ";
			background-image: url('../images/left-arrow.png');
		}
	}
	.owl-next{
		float: right;
		&:after{
			content: " ";
			background-image: url('../images/right-arrow.png');
		}
	}

}